@import "tailwindcss";

@font-face {
  font-family: Font_MLD;
  src: url('/fonts/MonsieurLaDoulaise-Regular.ttf');
}

/* @font-face {
  font-family: Font_Q;
  src: url('/fonts/final/Norman.woff2');
} */

@font-face {
  font-family: Font_YIV;
  src: url('/fonts/latestFont/CheltenhamStdLight.otf');
}
/* src: url('/fonts/final/Parfumerie-Script-Regular.woff2'); */

/* @font-face {
  font-family: Font_YV;
  src: url('/fonts/final/Open-Sans-Condensed.woff2');
} */


body {
  position: relative;
  font-family: Helvetica;
  scroll-behavior: smooth;
  background-color: #fff9ed;
}

.Font_MLD {
  font-family: Font_MLD;
}


@font-face {
  font-family: Font_Q;
  src:url('/fonts/latestFont/CheltenhamStdBook.otf');
}
/* src: url('/fonts/custom_new_fonts/NtVoyager.otf'); */

.Font_Q {
  font-family: Font_Q;
}

.Font_YIV {
  font-family: Font_YIV;
}


@font-face {
  font-family: Font_YV;
  src: url('/fonts/latestFont/CheltenhamStdLight.otf');
}
/* src: url('/fonts/custom_new_fonts/ClagioR.otf'); */

.Font_YV {
  font-family: Font_YV;
}

h2 {
  font-size: 3.75rem;
  line-height: 2.76rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.6rem;
}

p {
  font-size: 20px;
  line-height: 22px;
}



@media screen and (max-width: 700px) {
  p {
    font-size: 14px;
    line-height: 16px;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}


/* .COLOR_BG_RED{
  background-color: #B97241;
}
.COLOR_TEXT_RED{
  color: #B97241;
} */

/* OLD color ----------------------------- */
.COLOR_BG_RED{
  background-color: #173e3d;
}
.COLOR_TEXT_RED{
  color: #173e3d;
}



.COLOR_TEXT_ORANGE{
  color: #B97241;
}
.COLOR_BG_ORANGE{
  background-color: #B97241;
}
.COLOR_TEXT_CREAM{
  color: #F6F5F1;
}
.COLOR_BG_CREAM{
  background-color: #fff9ed;
}

.noise:before {
  animation: noise 1s steps(2) infinite;
  background-image: url("/FinalImage/noise2.jpg");
  content: "";
  height: calc(100% + 20rem);
  left: -10rem;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  top: -10rem;
  width: calc(100% + 20rem);
}
@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}

.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
 font-family: Font_YV;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #EFDFCB;
  border-radius: 50%;
  color: #551301;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #551301;
}

.button:hover .button__icon-wrapper {
  color: #551301;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}




/* ==================================================== */
/* .imgQ1 {
  transform-style: preserve-3d;
  will-change: transform;
  transition: box-shadow 0.3s ease;
}

.tiltSection {
  perspective: 1000px;
} */


.imgQ1 {
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  will-change: transform;
}

.img3d-wrapper {
  perspective: 800px;
}



/* -----------==------------------------------------------------------------------------------------------ */
.bgFirst{
  background-color: #fff9ed;
}